/* .sb{
    background: #13a64f;
    padding-bottom: 50px;
} */


li {
    padding: 0;
    list-style: none;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active {
    background: #eaf3ff;
    color: #103d7d;
}

.sidebar-mini .main-sidebar .nav-link i {}

.sidebar-mini .main-sidebar .nav-link:hover i {
    color: #29323d !important;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active i {
    color: #103d7d;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link:hover {
    background: #fcfcfc;
    color: #29323d !important;
}

.main-sidebar .brand-link {
    background: #fcfcfc;
}

.extratech-logo {
    width: 200px;
    background: #fcfcfc;
}

.nav-link i {
    color: #fff;
}

.note-editing-area {
    min-height: 100px !important;
}

.user-panel {
    border-bottom: 1px solid #eaf3ff !important;
}

.form-control {
    height: 45px;
    padding-left: 7px;
}

.card-header {
    padding-right: 30px;
}

svg {
    width: 20px !important;
}

.pagination-page p {
    margin-top: 20px !important;
}

/* Dropdown Button */
.dropbtn {
    border: none;
    background: none;
    color: #c2c7d0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    padding: 0.5rem 1rem;
    width: 100%;
    color: #c2c7d0;
}

.dropdown:hover {
    background: #fcfcfc;
    border-radius: 0.25rem;
}

.dropdown button,
i {
    color: #c2c7d0;
}

.dropdown:hover button {
    color: #29323d !important;
}

.dropdown i {
    color: #c2c7d0;
    margin-right: 5px;
}

.dropdown:hover i {
    color: #29323d !important;
}

/* Dropdown Content (Hidden by Default) */
/* .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 10px!important;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius:0.25rem;
  top:35px;
  left:35px;
  width:85%;
} */

/* Links inside the dropdown */
.dropdown-content a {
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-pills .nav-link.active {
    background: #eaf3ff;
    color: #103d7d;
    width: 100%;
}

.nav-pills .nav-link:hover {
    background: #eaf3ff;
    color: #103d7d;
    /* width: 100%; */
}

.dropdown-content a:hover {
    background: #eaf3ff !important;
    color: #103d7d !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background: #fcfcfc;
}

.back-button {
    color: white;
    float: right;
    background: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-item {
    width: 100%;
}

/* accordion */

.acc-card {
    box-shadow: none;
    background: none !important;
    color: white;
    margin-bottom: 0px;
}

.acc-card .card-header {
    padding: 0.5rem 1rem;
    border-bottom: none;
}

.acc-card .card-header button {
    padding: unset !important;
    color: #c2c7d0;
}

.acc-card .card-header button:hover {
    color: #fff;
}

.acc-card .card-header button i {
    margin-right: 12px;
    color: #fff;
}

.acc-card .card-body {
    padding: 0.5rem 2.5rem;
}

.acc-card .card-body a {
    padding: unset;
}

.acc-card .nav-link {
    color: #fff !important;
    padding: 0.5rem 0 0.5rem 0.5rem !important;
    margin: 0.1rem 0;
    width: unset !important;
}

.acc-card .nav-link.active {
    color: #103d7d !important;
}

.table-search {
    width: fit-content;
}

.table-search input {
    margin-right: 10px;
    border-radius: 5px !important;
}


.add-points {
    border: 1px solid #00000032;
    padding: 10px;
}

.add-points input {
    margin-bottom: 10px;
    width: 80%;
    border: 1px solid #00000032;
    border-radius: 2px;
    padding: 5px;
}

.create-button {
    margin-top: 10px;
}

.create-button .col-md-12 {
    /* display:flex;
    justify-content:center; */
}

.create-button .col-md-12 button {
    padding: 10px 50px;
}

.dom-box {
    position: relative;
}

.close-button {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0px;
    color: red;
}

/*.add-points .close-point{*/
/*    background:none;*/
/*    border:none;*/
/*    position:absolute;*/
/*    right:100px;*/
/*    top:65px;*/
/*    color:red;*/
/*    font-size:10px;*/
/*}*/
.add-point-btn {
    width: 20%;
}

.point1 {
    position: relative;
}

.point1 button {
    position: absolute;
    /* right:90px; */
    top: 10px;
    background: none;
    border: none;
    color: red;
    font-size: 10px;
}

.point_old {
    position: relative;

}

.close-point i {
    color: red;
    font-size: 12px;
}

.close-point {
    position: absolute;
    border: none;
    top: 6px;
    right: 0px;
    background: none;

}


.table-search {
    /* width: fit-content; */
}

.search-form .table-search input {
    /* margin-right: 10px; */
    border-radius: 5px !important;
}

.ds-input:focus {
    border-color: #1850b7;
}

/* new edit */

.table td {
    padding: 0.5rem;
}

.table>:not(:last-child)>:last-child> {
    border-bottom-color: red !important;
}

.action-icons i {
    color: #62666a;
}

.action-icons a {
    padding: 5px;
}

.action-icons i:hover {
    color: #212529;
}

.input-group {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 0;
}

.input-group input,
select {
    /* border: none !important; */
    padding: 0 10px !important;
}

.input-group .form-control {
    font-size: 14px;
}

.input-group .form-control:focus {
    box-shadow: none;
}

.main-sidebar .brand-link {
    height: 58px;
}

.ml-auto i {
    color: #fff;
}

.dropdown-menubar .dropdown-toggle {
    padding: 0;
    background: none;
    border: none;
    color: #fff;
}

.dropdown-menubar .dropdown-menu[data-bs-popper] {
    left: -125px
}

.dropdown-menubar button:active {
    background-color: none;
}

.btn:focus {
    box-shadow: none;
}

.dropdown:hover {
    background: none;
}

/* .dropdown:hover .dropdown-toggle {
    color: #fff !important;
    ;
} */

.dropdown-menubar .dropdown-toggle:active {
    background: none !important;
}

.dropdown-menubar .dropdown-menu {
    padding: 0
}

.nav-sidebar .nav-item p {
    color: #fff;
}

.nav-sidebar .nav-item:hover p {
    color: #212529;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active i,
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active p {
    color: #212529;
}

.os-content {
    padding: 0 !important;
    ;
}

.nav-item {
    padding: 0px 10px;
}

/* .nav-item:hover {
    padding: 0;
} */

.btn-green {
    color: #fff;
    background: #13a64f;
    border-color: #13a64f;
}

.btn-green:hover {
    color: #fff;
    background: #ea8937;
    border-color: #ea8937;
}

.card-header {
    padding: 1rem 1rem !important;
}

.card-header>.card-tools {
    margin-right: unset;
}

/* login page */

.login-icon {
    border: none;
}

.login-icon .input-group-text {
    background: #ea8937;
    color: #fff;
}

.login-icon .input-group-text {
    background: #ea8937;
    color: #fff;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500;
}

.breadcrumb-item a {
    text-decoration: none;
}

.card-header a {
    text-decoration: none;
}


/* new css */

.main-header {
    /* background: #2d276d; */
    /* background: #a3c6fd; */
    /* background: #bde3fb; */
    background: #444791;
}

.sb {
    background: #444791;
    padding-bottom: 50px;
}

.btn-link {
    color: #fff;
    width: 80%;
    text-align: left;
}

.sidebar-mini .main-sidebar .nav-link:hover p button {
    color: #000;
}


.nav-link {
    padding: 0 !important;
}

.sidebar-nav-item ul li {
    list-style: none;
}

.sidebar-nav-item ul {
    padding-left: 30px;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link:active {
    background: #fcfcfc;
    color: #29323d !important;
}

.btn-create {
    background: #444791;
    /* color: #bde3fb; */
    /* color: #a3c6fd; */
    color: #e8ebfa;
}

.btn-create:hover {
    color: #fff;
}

/* members info */

.content-wrapper-mi {
    background: #FAFBFF;
}

.content-wrapper-mi .card {
    border: 1px solid #E8EBFA;
    box-shadow: none;
    border-radius: 10px;
}

.members-info-row h3 {
    font-size: 22px;
    font-weight: 600;
}

.members-info-row h6 {
    font-size: 17px;
    color: #9B9B9B;
    margin-bottom: 20px;
}

.profile-name p:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.profile-name p:nth-child(2) {
    color: #5B5FC7;
    margin-bottom: 5px;
}

.content-wrapper-mi .form-control {
    height: unset;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 14px;
}

.profile-image {
    width: 100px;
    height: 100px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.profile-detail .detail-left p {
    font-size: 16px;
    font-weight: 600;
<<<<<<< HEAD
=======
}

.profile-detail .detail-left a {
    color: #000;
>>>>>>> 144ae27 (nrna/#24-conflict-solved-2)
}

.profile-detail .detail-right p {
    font-size: 16px;
}

.content-wrapper-mi .form-select {
    color: grey;
    font-size: 14px;
}

.content-wrapper-mi .form-select:focus-visible {
    border: none!important;
    outline: none;
}

.content-wrapper-mi .form-control::placeholder {
    font-size: 14px;
}

.birthday-input {
    font-size: 14px;
    color: grey;
    margin-bottom: 15px;
    padding: 5px;
}

.profile-detail .col-md-8 label {
    font-size: 14px;
}

.profile-detail .slip-image {
    width: 150px;
    height: 150px;
}

.profile-detail .slip-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.member-verify h3 {
    color: #444791;
}

.member-verify h6 {
    color: #030E1E
}

.profile-icon {
    width: 15px;
    height: 15px;
}

.profile-icon img {
    width: 100%;
    height: 100%;
}

.members-info-row .submit-button {
    width: 15%;
}

.members-info-row .submit-button button {
    width: 100%;
    padding: 10px 0px;
    background: #444791;
    border: none;
    border-radius: 4px;
    color: #fff;
    border-color: #7B1FA2;
}

/* member-list */



.main-panel {
    background: #f4f7ff;
}

.content-wrapper-bg {
    background: #F4F7FF !important;
    padding: 1.5rem;
    position: relative;
}

.card-heading h4 {
    font-weight: 700;
    font-size: 1.13rem;
    font-family: 'Montserrat', sans-serif;
}

.card-heading p {
    color: #9B9B9B;
}

.filter-btnwrap .input-group {
    border: 1px solid #e5e5e5;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    display: flex;
    margin: auto;
    line-height: normal;
}

.filter-btnwrap .input-group .form-control {
    color: #848484;
    border: none;
    padding: 0;
    height: unset;
}

.filter-btnwrap .input-group span i {
    color: #e5e5e5;
}

.filter-btnwrap .input-group select {
    background: none;
    border: none;
    color: #848484;
    font-size: 14px !important;
    padding: 0px 5px;
}

.filter-btnwrap option {
    min-height: 40px !important;
    padding: 40px !important;
    margin-left: 20px;
}

.filter-btnwrap .form-select {
    color: #e5e5e5;
    border-color: #e5e5e5;
    font-size: 0.8125rem;
    padding: 10px;
    -webkit-appearance: none;
}

.filter-btnwrap .form-select:focus-visible {
    border: none;
    outline: none;
}

.input-field-show {
    background-color: #DDE6FF;
    border-color: #CBD9FF
}

.filter-btnwrap .show-select {
    background: #DDE6FF;
    padding: 10px 5px !important;
    font-size: 1rem !important;
    border-radius: 4px;
    border: #e8ebfa;
    margin-left: 5px;
}

.filter-btnwrap .show-select .form-select {
    width: 30px;
    background: transparent;
    border-color: none;
    color: #030E1E !important;
    padding: 0 !important;
}

.dropdown-export {
    position: relative;
    display: inline-block;
}

.dropdown-content-export {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    padding: 0;
    z-index: 1;
}

.export-button img {
    width: 20px;
}

.dropdown-content-export ul {
    padding-left: 0px;
    margin-bottom: 0;
    width: min-content;
    border: 1px solid #bcbcbc;
    margin-top: 5px;
    border-radius: 4px;
}

.dropdown-content-export ul li {
    padding: 0px 8px;
    margin: 5px;
    border-color: #cbd9ff;
    border-radius: 4px;
}

.dropdown-content-export ul li:hover {
    background: #DDE6FF;
}

.dropdown-content-export ul li a {
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    color: grey;
}

.export-button button {
    border-radius: 4px;
    border: 1px solid #CADCF5 !important;
    background: #DDE6FF;
    color: #444791;
    padding: 8px;
}

.export-button button:hover {
    background: #dde6ff;
    color: #444791;
    border-color: #cbd9ff !important;
}

.dropdown-export:hover .dropdown-content-export {
    display: block;
}

.card-wrap {
    background-color: #ffffff;
    border-radius: 6px;
    width: 100%;
}

.bg-header h3 {
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.table {
    border-collapse: unset;
}

.table-details .table {
    border: 1px solid #e8ebfa;
    border-radius: 6px;
    border-spacing: 0;
}

.table-details table thead th {
    padding: 10px;
    vertical-align: top;
    color: #555555;
    font-weight: 700;
    border-top: none;
    background: #F1F7FF;
}

.tblform-check .dropdown-toggle:hover {
    color: #555555 !important;
}

.dropdown-menu {
    left: 10px !important;
    padding: 0;
    border: none;
}

.dropdown-menu a {
    color: #555555;
    font-size: 14px;
}

.dropdown-menu a:hover {
    background: #DDE6FF;
    color: grey;
}

.table-details table tbody td {
    padding: 5px;
    vertical-align: top;
    color: #030e1e;
    font-weight: 500;
    border-top: 1px solid #e8ebfa;
}

.table-details table tbody .status i {
    padding: 5px;
    font-size: 10px;
    border-radius: 25px;
    margin-right: 5px;
    width: 20px;
    text-align: center;
    color: #fff;
}

.table-details table tbody .verified i {
    background: #1AAC4C;
}

.table-details table tbody .pending i {
    background: #E7A11A;
}

.table-details table tbody .rejected i {
    background: #E71E1E;
}

.table thead th {
    border-bottom: none;
}

.icon-button {
    padding-left: 0;
    margin-bottom: 0px;
}

.icon-button li {
    margin-right: 10px;
}

.table-details .action-icons a {
    padding: 0;
}

.table-details table tbody td a {
    vertical-align: top;
    color: #030e1e;
    font-weight: 500;
}

.table-details .action-icons a i {
    font-size: 13px;
}

.table-details table td img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.name-table {
    margin-left: 10px;
}

.name-table p:nth-child(1) {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
}

.name-table p:nth-child(2) {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    color: #7d7d7d;
}

.table tbody tr:nth-child(even) {
    background: #F1F7FF;
    font-size: 18px;
}

.members-info-row .submit-button button:hover {
    background: #2d276d;
    color: #e8ebfa;
}

.image-upload>input {
    display: none;
}

.image-upload img {
    cursor: pointer;
}